Anton Yakovenko <anya@itu.dk> <antonyakovenko2401@gmail.com> <26941092+AntohaY@users.noreply.github.com>
Horváth Viktor <vhor@itu.dk> <133114738+HViktorBP@users.noreply.github.com>
Janusz Dawid Bekas <jdbe@itu.dk> <janusz.bekas@wp.pl>
Mengdi Liao <menl@itu.dk> <106358515+mengdiliao@users.noreply.github.com>
GoogleGemini Pro
@gemini-code-assist
Copilot <175728472+Copilot@users.noreply.github.com>
copilot-swe-agent[bot] <198982749+Copilot@users.noreply.github.com>