{{ define "body" }}
<h2>{{ .PageTitle }}</h2>

{{ if .User }}

{{/* Logic for User Timeline Profile Header */}}
{{ if eq .PageID "user_timeline" }}
<div class="followstatus">
  {{ if eq .User.UserID .ProfileUser.UserID }}
  This is you!
  {{ else if .IsFollowing }}
  You are currently following this user.
  <a class="unfollow" href="/user/{{ .ProfileUser.Username }}/unfollow">Unfollow user</a>.
  {{ else }}
  You are not yet following this user.
  <a class="follow" href="/user/{{ .ProfileUser.Username }}/follow">Follow user</a>.
  {{ end }}
</div>

{{/* Logic for Personal Timeline Input Box */}}
{{ else if eq .PageID "timeline" }}
<div class="twitbox">
  <h3>What's on your mind {{ .User.Username }}?</h3>
  <form action="/add_message" method="post">
    <p><input type="text" name="text" size="60">
      <input type="submit" value="Share">
  </form>
</div>
{{ end }}

{{ end }}

<ul class="messages">
  {{ range .Messages }}
  <li>
    <img src="{{ .Email | gravatar }}">
    <p>
      <strong><a href="/user/{{ .Username }}">{{ .Username }}</a></strong>
      {{ .Text }}
      <small>&mdash; {{ .PubDate | datetimeformat }}</small>
    </p>
  </li>
  {{ else }}
  <li><em>There's no message so far.</em></li>
  {{ end }}
</ul>
{{ end }}